.container_other_side {
    background-color: rgba(255,255,255,0.5);
    height: 84vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    align-content: center;
    border-radius: 20px;
    border-color: white;
    border: 2px solid rgba(255,255,255,1);
}
.painel {
    background-color: rgba(255,255,255,0.5);
}